
# Algod
VITE_ALGOD_TOKEN=""
VITE_ALGOD_SERVER="https://mainnet-api.algonode.cloud"
VITE_ALGOD_PORT=""
VITE_ALGOD_NETWORK="mainnet"

# Indexer
VITE_INDEXER_TOKEN=""
VITE_INDEXER_SERVER="https://mainnet-idx.algonode.cloud"
VITE_INDEXER_PORT=""

# Algorand Stats
VITE_NODELY_STATS = "https://afmetrics.api.nodely.io"
VITE_ALGORAND_FOUNDATION_STATS = "https://metricsapi.algorand.foundation"

# Block Explorer
VITE_EXPLORER_ACCOUNT_URL=https://allo.info/account/
VITE_EXPLORER_TRANSACTION_URL=https://allo.info/tx/
VITE_EXPLORER_ASSET_URL=https://allo.info/asset/
VITE_EXPLORER_APPLICATION_URL=https://allo.info/application/

# Rate limits
# minTime between requests [ms]
VITE_RATE_MIN_TIME = 20
# maxConcurrent number of requests
VITE_RATE_MAX_CONCURRENT = 6

# ==========================
# Localhost configuration:
# uncomment below to use
# ==========================

VITE_ENVIRONMENT=local

# # ==========================
# # Production configuration:
# # uncomment below to use
# # ==========================

# VITE_ENVIRONMENT=production
